---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import slugify from 'slugify';

const teams = await getCollection('teams', ({ data }) => {
  return data.classification !== null;
});

var fbsTeams = teams.filter(function (team) {
  return team.data.classification == 'fbs';
});

var fcsTeams = teams.filter(function (team) {
  return team.data.classification == 'fcs';
});

var d2Teams = teams.filter(function (team) {
  return team.data.classification == 'ii';
});

var d3Teams = teams.filter(function (team) {
  return team.data.classification == 'iii';
});

const pageTitle = "Home |"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="page-content">
    <h1>College Football Report</h1>
  </div>
</BaseLayout>
