---
import { getEntry } from 'astro:content';
import contrast from 'get-contrast'

const { id } = Astro.props;

const team = await getEntry('teams',id );

---

<div class="teamcard">
    <img class="logo" src={`/logos/small/${team.data.id}.png`} width="40" />
    <div class="name">
        <span class="teamcard__title">{team.data.school}</span> {team.data.mascot} 
    </div>
</div>

<style>
    .teamcard {
          display: grid;
          grid-template-columns: 50px 1fr;
          align-items: center;
          grid-template-areas:
            "logo name";
          .logo {
            grid-area: logo;
          }
          .name {
            grid-area: name;
            .teamcard__title {
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
          
        }
</style>