---
import { getEntry } from 'astro:content';
import slugify from 'slugify';


const { id, showLogo = true, linkedName = false } = Astro.props;

const team = await getEntry('teams',id );

---

<div class="teamcard">

    {(showLogo) && <div class="logo"><img src={`/logos/small/${team.data.id}.png`} width="40" /></div>}
    
    <div class="name">
        {linkedName && <a href={`/${slugify(team.data.school, {lower: true})} `}><span class="teamcard__title">{team.data.school}</span></a>}
        {!linkedName && <span class="teamcard__title">{team.data.school}</span>}
        {team.data.mascot} 
    </div>
</div>

<style>
    .teamcard {
          display: grid;
          grid-template-columns: fit-content(50px) 1fr;
          gap: 10px;
          align-items: center;
          grid-template-areas:
            "logo name";
          .logo {
            grid-area: logo;
            min-height: 40px;
            display: grid;
            place-items: center;
          }
          .name {
            grid-area: name;
            .teamcard__title {
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
          
        }
</style>