---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import GameResult from '../../components/GameResult.astro';

export async function getStaticPaths() {
  const seasons = await getCollection('bowlseasons');
  return seasons.map(season => ({
    params: { year: season.id },
    props: { season },
  }));
}

export const prerender = true

const { season } = Astro.props;
---

<BaseLayout pageTitle={`${season.id} |`}>
  <div class="page-content">
    <h1>{season.id} Bowl Season</h1>
    <div class="games">
      {season.data.map(game => (
        <GameResult game={game} />
      ))}
    </div>
  </div>
</BaseLayout>

<style>
  .games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
  }
</style>