---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Playoffs">
  <div class="page-content">
    <h1>Playoffs</h1>
    <h2><a href="/playoffs/fcs">FCS</a></h2>
  </div>
</BaseLayout> 