---
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Radio+Canada:wdth@87.5&display=swap" rel="stylesheet">

		<title>{pageTitle} College Football Report | MyTungsten</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
 body {
	margin: 0;
	font-family: "Radio Canada", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 87.5;
 }
 h1, h2, h3 {
	font-family: 'Radio Canada Big', sans-serif;
 }
</style>
