---
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Radio+Canada:wdth@87.5&display=swap" rel="stylesheet">

		<title>{pageTitle} College Football Report | MyTungsten</title>
	</head>
	<body>
		<nav>
			<a href="/" class="site-title">CFB Report</a>
			<ul>
				<li><a href="/bowls">Bowls</a></li>
			</ul>
		</nav>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--light-color: #F7F9FB;
		--dark-color: #0D19A3;
		--alt-color: #080F5B
	}

 body {
	margin: 0;
	font-family: "Radio Canada", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 87.5;
	background-color: var(--light-color);
 }
 a {
	color: var(--dark-color);
 }
 nav {
	display: flex;
	justify-content:space-between;
	flex-direction:row;
	align-items:center;
	padding: 10px;
	font-family: "Radio Canada Big", sans-serif;
	background-color: var(--dark-color);
	.site-title {
		font-size: 1.4rem;
		font-weight: 700;
	}
	a {
		color: var(--light-color);
		text-decoration: none;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			
		}
	}
 }
 h1, h2, h3 {
	font-family: 'Radio Canada Big', sans-serif;
 }

 .page-content {
	max-width: 1200px;
	margin: 0 auto;
 }
</style>
